<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clevertree.dao.ContractMapper">
  <resultMap id="BaseResultMap" type="com.clevertree.entity.Contract">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="mem_id" jdbcType="INTEGER" property="memId" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `type`, mem_id, staff_id, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.clevertree.entity.Contract">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into contract (id, `type`, mem_id, 
      staff_id, `status`)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{memId,jdbcType=INTEGER}, 
      #{staffId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.clevertree.entity.Contract">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="type != null">
        `type`,
      </if>
      <if test="memId != null">
        mem_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="memId != null">
        #{memId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.clevertree.entity.Contract">
    update contract
    <set>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="memId != null">
        mem_id = #{memId,jdbcType=INTEGER},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.clevertree.entity.Contract">
    update contract
    set `type` = #{type,jdbcType=VARCHAR},
      mem_id = #{memId,jdbcType=INTEGER},
      staff_id = #{staffId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>